/*  Font
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@font-face {
  font-family: FeixenSans;
  font-style: normal;
  font-weight: normal;
  src: url("../font/StudioFeixenSans-Regular.woff2");
}

/*  Normalizing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: initial;
}

ul {
  list-style-type: none;
}

a,
button,
input,
form,
fieldset,
textarea,
select,
i {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font: inherit;
  font-style: normal;
  color: inherit;
  appearance: none;
}

a,
button,
input,
select {
  cursor: pointer;
}

input[type="email"],
input[type="text"],
select,
textarea {
  cursor: text;
  background-color: white;
}

input:focus,
textarea:focus,
select:focus {
  outline: 3px solid black;
}

/*  Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

:root {
  --red: rgb(241, 87, 86);
  --yellow: rgb(254, 252, 100);
  --green: rgb(125, 213, 155);
  --orange: rgb(244, 132, 86);
  --white: rgb(255, 255, 255);
  --gray: rgb(196, 196, 196);
  --mainColor: var(--red);

  --spacing-XS: .5vmin;
  --spacing-S: 1vmin;
  --spacing-M: 2.5vmin;
  --spacing-L: 5vmin;
  --spacing-XL: 8vmin;

  --boxHeaderHeight: 5vmin;
  --headerHeight: 8vmin;
  --footerHeight: 30vmin;

  --fontSize-S: 1.4vmin;
  --lineHeight-S: 1.7vmin;
  --fontSize-M: 1.9vmin;
  --lineHeight-M: 2.5vmin;
  --fontSize-L: 5vmin;
  --lineHeight-L: 6vmin;
  --fontSize-XL: 9vmin;
  --lineHeight-XL: 8vmin;

  --circle-S: 2vmin;
  --circle-M: 2.7vmin;
  --circle-L: 4vmin;

  font-size: 1vmin;
}

@media screen and (max-width: 500px) {
  :root {
    --headerHeight: 12vmin;
  }
}

body {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  border: 1px solid black;
  font-family: FeixenSans;
}

/*  Colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--green);
}

.gray {
  background-color: var(--gray);
}

.pageColor {
  background-color: var(--pageColor);
}

/*  Layout
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.autoColumns {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.autoRows {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

/*  Elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
  font-size: var(--fontSize-XL);
  height: var(--lineHeight-XL);
  line-height: 100%;
  margin: var(--headerHeight) 0 var(--spacing-XL);
}

h2 {
  font-size: var(--fontSize-L);
  height: auto;
  line-height: 100%;
  margin-bottom: var(--spacing-M);
}

h1::after, h2::after {
  content: "";
  display: block;
  background-color: black;
  height: 0;
  border: 1px solid black;
}

.icon.medium {
  width: var(--circle-M);
  height: var(--circle-M);
  border-radius: 100%;
  border: 2px solid black;
  display: block;
}

.article {
  height: 100%;
  width: 100%;
  padding: var(--spacing-M);
}

.box {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.boxTitle {
  padding: 0 var(--spacing-M);
  border-bottom: 2px solid black;
  height: var(--boxHeaderHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxContent {
  padding: var(--spacing-M);
}

.button {
  border: 1px solid black;
  padding: 0 var(--spacing-M);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 200ms;
}

.button.circle {
  display: flex;
  border: none;
  width: auto;
  height: auto;
  margin-left: auto;
  padding: 0;
}

.button.circle::after {
  content: "";
  width: 2em;
  height: 2em;
  display: block;
  border: 2px solid black;
  border-radius: 50%;
}

.button:hover {
  background-color: var(--gray);
}

.link:hover {
  text-decoration: underline;
}

form {
  width: 100%;
}

input[type="email"] {
  background-color: var(--white);
  border: 2px solid black;
  height: 2em;
}
