/*  Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
  --darkViolet: rgb(35, 0, 50);
  --violet: rgb(120, 80, 255);
  --red: rgb(255, 85, 90);
  --green: rgb(60, 255, 100);
  --blue: rgb(0, 215, 255);
  --yellow: rgb(255, 255, 50);
  --white: rgb(255, 255, 255);
  --gray: rgb(200, 200, 200);

  --colorKey: var(--darkViolet);
  --colorTheme: var(--blue);

  --boxHeaderHeight: 5vmin;
  --headerHeight: 8vmin;
  --footerHeight: 30vmin;

  --fontSize-S: 1.4vmin;
  --lineHeight-S: 2vmin;
  --listHeight-S: 2.5vmin;
  --fontSize-M: 1.9vmin;
  --lineHeight-M: 2.5vmin;
  --fontSize-L: 5vmin;
  --lineHeight-L: 5.5vmin;
  --fontSize-XL: 9vmin;
  --lineHeight-XL: 8vmin;

  --size-XS: .5vmin;
  --size-S: 2vmin;
  --size-M: 4vmin;
  --size-L: 5vmin;
  --size-XL: 8vmin;

  --fieldSize-M: calc(var(--size-M) * 1.4);
  --buttonSize-M: calc(var(--size-M) * 0.9);
  --iconSize-XS: calc(var(--size-M) * 0.6);
  --iconSize-S: calc(var(--size-M) * 0.75);
  --iconSize-M: var(--size-M);

  --borderFull: 2px;
  --borderHalf: 1px;
  --borderHover: 3px;
  --borderFocus: 4px;

  --scrollbarWidth: 17px;

  --animate-fast: 300ms;
  --animate-medium: 800ms;
  --animate-long: 1500ms;

  font-size: 1vmin;
}

.--size-md {

  --footerHeight: 50vmin;

  --fontSize-S: 2vmin;
  --lineHeight-S: 2.6vmin;
  --listHeight-S: 3.1vmin;
  --fontSize-M: 2.5vmin;
  --lineHeight-M: 3.1vmin;
  --fontSize-L: 5.6vmin;
  --lineHeight-L: 6.1vmin;
  --fontSize-XL: 9.6vmin;
  --lineHeight-XL: 8.6vmin;

  --size-XS: 1vmin;
  --size-S: 2vmin;
  --size-M: 4.5vmin;
  --size-L: 8vmin;
  --size-XL: 8vmin;
}

.--size-sm {
  --headerHeight: 15vmin;
  --footerHeight: 150vmin;

  --fontSize-S: 4vmin;
  --lineHeight-S: 5.4vmin;
  --listHeight-S: 5.5vmin;
  --fontSize-M: 5vmin;
  --lineHeight-M: 6vmin;
  --fontSize-L: 7vmin;
  --lineHeight-L: 8.3vmin;
  --fontSize-XL: 11vmin;
  --lineHeight-XL: 10vmin;

  --size-XS: 1.5vmin;
  --size-S: 2vmin;
  --size-M: 5vmin;
  --size-L: 10vmin;
  --size-XL: 18vmin;
}

/*  Font
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@font-face {
  font-family: FeixenSansEdgy;
  font-weight: normal;

  src: url("../font/StudioFeixenSans-EdgyRegular.woff2") format('woff2'),
       url("../font/StudioFeixenSans-EdgyRegular.woff") format('woff'),
       url("../font/StudioFeixenSans-EdgyRegular.ttf")  format('truetype')
}

@font-face {
  font-family: FeixenSans;
  font-weight: normal;
  src: url("../font/StudioFeixenSans-Regular.woff2") format('woff2'),
       url("../font/StudioFeixenSans-Regular.woff") format('woff'),
       url("../font/StudioFeixenSans-Regular.ttf")  format('truetype')
}

/*  Normalizing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: initial;
  font-family: FeixenSansEdgy;
}

ul {
  list-style-type: none;
}

a,
button,
input,
form,
fieldset,
textarea,
select,
i {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font: inherit;
  font-style: normal;
  color: inherit;
  appearance: none;
}

a,
button,
input,
select {
  cursor: pointer;
}

input[type="email"],
input[type="text"],
select,
textarea {
  cursor: text;
  background-color: white;
}

input:hover,
textarea:hover,
select:hover,
.Select .inputBox.inner:hover {
  outline: calc(var(--borderHover) - var(--borderFull))
           solid
           currentColor;
}

*:focus {
  outline: var(--borderFocus) solid currentColor;
}

input:focus,
textarea:focus,
select:focus {
  outline: calc(var(--borderFocus) - var(--borderFull))
           solid
           currentColor;
}

body {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  color: var(--colorKey);
  border: var(--borderHalf) solid currentColor;
  font-family: FeixenSans;
  font-style: normal;
  overflow-x: hidden;
}

/*  Layout
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.autoColumns {
  display: -ms-grid;
  -ms-grid-auto-flow: column;
  -ms-grid-columns: 1fr;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.autoRows {
  display: -ms-grid;
  -ms-grid-auto-flow: row;
  -ms-grid-rows: 1fr;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

/*  Elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
  font-size: var(--fontSize-XL);
  line-height: var(--lineHeight-XL);
  margin-bottom: var(--size-L);
}

h2 {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
}

h3 {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
}

ul > .arrow,
ul > .dash {
  display: flex;
  margin-bottom: 0.5em;
}

ul > .arrow::before,
ul > .dash::before {
  white-space: pre;
  font-size: inherit;
}

ul > .arrow::before {
  content: "\2192" " ";
}

ul > .dash::before {
  content: "– ";
}

.label {
  white-space: pre-line;
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
}

.icon.medium {
  width: var(--size-M);
  height: var(--size-M);
  display: block;
}

.article {
  height: 100%;
  width: 100%;
  padding: var(--size-M);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  overflow: hidden;
}

.box {
  border: var(--borderHalf) solid currentColor;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--size-S);
}

/* .box.title {
  padding: 0 var(--size-M);
  height: var(--boxHeaderHeight);
  justify-content: center;
} */

.box.content {
  flex-grow: 1;
}

.link:hover,
.link:focus {
  border-bottom: var(--borderFull) solid currentColor;
  margin: calc(var(--borderFull) * -1) 0;
  box-sizing: border-box;
  outline: none;
}

.line {
  height: 0;
  border-bottom: var(--borderFull) solid currentColor;
  display: block;
}

/*  Form
´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´*/
.form {
  width: 100%;
  position: relative;
}

.formContent {
  display: flex;
  flex-direction: column;
}

.formFieldGroup {
  display: -ms-grid;
  -ms-grid-auto-flow: row;
  -ms-grid-rows: 1fr;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  column-gap: var(--size-M);
}

.formSegment:not(:last-child),
.formFieldGroup:not(:last-child) {
  margin-bottom: var(--size-L);
}

.formField {
  flex-grow: 1;
  position: relative;
}

.inputBox {
  position: relative;
  display: flex;
}

.formField .header,
.formField .input {
  display: flex;
  height: var(--fieldSize-M);
  font-size: var(--fontSize-M);
  align-items: flex-end;
}

.formField .input {
  width: 100%;
  background-color: white;
  border: var(--borderFull) solid currentColor;
  padding: 0 var(--size-S);
}

.formField .header {
  padding: var(--size-S) 0 var(--size-XS);
  white-space: nowrap;
}

.formField .label {
  display: flex;
}

.formField.--required .label::after {
  content: "*";
  padding-left: var(--size-XS);
}

.input.--warn {
  background-color: var(--red);
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
  background-color: transparent;
  border: none;
}

.input > .placeholder {
  color: silver;
}

.form > .--warn {
  background-color: var(--yellow);
}

/* .Tooltip > p.content {
  width: calc(100vw - 17px - 4px);
  border-left: none;
  border-right: none;
  min-height: var(--size-XL);
  left: calc( -1 * var(--size-M));
}  */